<!DOCTYPE html>

<html>

    <head>
        <title>Weather</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
        
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            
            <p> Use this site to get your weather!</p>

            <form>
                <input placeholder="Location">
                <button>Search</button>
            </form>
            <br>
            <br>
            <table>
                <tbody>
                    <tr>
                        <td align="left" id="Llocation"></td>
                        <td align="center" id="blocation"></td>
                    </tr>
                    <tr>
                        <td align="left" id="Lstate"></td>
                        <td align="center" id="state"></td>
                    </tr>
                    <tr>
                        <td align="left" id="Lcountry"></td>
                        <td align="center" id="country"></td>
                    </tr>
                    <tr>
                        <td align="left" id="Lweatherdesc"></td>
                        <td align="center" id="weatherdesc"></td>
                    </tr>
                    <tr>
                        <td align="left" id="Lcurrenttemp"></td>
                        <td align="center" id="currenttemp"></td>
                    </tr>
                    <tr>
                        <td align="left" id="Lwindspeed"></td>
                        <td align="center" id="windspeed"></td>
                    </tr>
                    <tr>
                        <td align="left" id="Lwinddirection"></td>
                        <td align="center" id="winddirection"></td>
                    </tr>
                    <tr>
                        <td align="left" id="Lraindata"></td>
                        <td align="center" id="raindata"></td>
                    </tr>
                    <tr>
                        <td align="left" id="Lhumidity"></td>
                        <td align="center" id="humidity"></td>
                    </tr>
                    <tr>
                        <td align="left" id="Lvisibility"></td>
                        <td align="center" id="visibility"></td>
                    </tr>
                    <tr>
                        <td align="left" id="Luvindex"></td>
                        <td align="center" id="uvindex"></td>
                    </tr>
                </tbody>
            </table>
            <p><img id="message-0"/></p>
            <p id="message-1"></p>
            <p id="message-2"></p>
        </div>
        
        
        {{>footer}}

        <script src="/js/app.js"></script>
    </body>
</html>